# Welcome to your first Python Jupyter notebook  

## Press `shift` + `enter` to run a cell and advance to the next one or `ctrl` + `enter` to just run that cell.

In [1]:
print("hello world")

hello world

If you ran the cell above and the words "hello world" were output below the cell, then congratulations! You have have a working Jupyter installation. If that doesn't work then you should get help from a mentor right away!

Let's play around in this notebook to get a feeling for the kind of things we can do with Python. Try running the cells below. You can also create new cells to do things that you want.

In [2]:
1+2

3

In [3]:
print("i love dogs")

i love dogs

In [4]:
print("i love dogs".replace("dogs","cats"))

i love cats

In [5]:
12345678.9 / 876

14093.240753424658

In programming culture, "Hello world" is often used as a ceremonial first program to test that a system is working.  Another culturally significant program calculates [Fibbonaci numbers](https://en.wikipedia.org/wiki/Fibonacci_number).  The cell below defines a command called `fib` that computes values of the Fibbonaci sequence.  It isn't at all important for you to understand what it's doing. It's just in this notebook for fun. Feel free to play with it for a little bit or just move on.

In [6]:
def fib(n):
    if n == 1 or n == 2:
        return(1)

    else:
        k = int(n/2)
        
    if n % 2 == 0:
        return fib(k) * (2 * fib(k +1) - fib(k))
    else:
        return fib(k + 1)**2 + fib(k)**2

In [7]:
fib(3)

2

In [8]:
fib(1)

1

In [9]:
fib(50)

12586269025

In [10]:
2+2

4

In [11]:
1/2

0.5

In [12]:
4/2

2.0

In [13]:
type(1)

int

In [14]:
type(1.0)

float

In [15]:
type(4)

int

In [16]:
x = 4

In [17]:
x

4

In [18]:
type(x)

int

In [19]:
2 * x

8

In [20]:
magic_number = 1500
amountOfFlour = .75
my_name = "Jessica"

In [21]:
x = 3

In [22]:
y = 4

In [23]:
x * y

12

In [24]:
x * x

9

In [25]:
2 * x - 1 * y

2

In [26]:
(2 * x) - (1 * y)

2

In [27]:
x = 4

In [29]:
x=4

In [30]:
(2 * x) - (1 * y)

4

In [31]:
(2*x)-(1*y)

4

In [32]:
"Hello"

'Hello'

In [34]:
"Python, I'm your #1 fan!"

"Python, I'm your #1 fan!"

In [36]:
type("Hello")

str

In [38]:
type(1)

int

In [40]:
type("1")

str

In [41]:
"Hello" + "World"

'HelloWorld'

In [42]:
name = "Jessica"
"Hello " + name

'Hello Jessica'

In [43]:
"Hello" + 1

TypeError: can only concatenate str (not "int") to str

In [44]:
"Hello" + str(1)

'Hello1'

In [45]:
len("Hello")

5

In [46]:
len("")

0

In [47]:
fish = "humuhumunukunukuapua'a"

In [48]:
name_length = len(fish)

In [49]:
fish + " is a Hawaiian fish whose name is " + str(name_length) + " characters long."

"humuhumunukunukuapua'a is a Hawaiian fish whose name is 22 characters long."

In [53]:
'Hello'
"Hello"

'Hello'

In [54]:
'I'm a happy camper'

SyntaxError: invalid syntax (<ipython-input-54-ead6ea99985c>, line 1)

In [56]:
"I'm a happy camper"

"I'm a happy camper"

In [58]:
"A" * 40

'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'

In [60]:
"ABC" * 12

'ABCABCABCABCABCABCABCABCABCABCABCABC'

In [61]:
h = "Happy"
b = "Birthday"
(h + b) * 10

'HappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthday'

In [62]:
#Part 1 Practice
total = 1.5 - 1/2
total
print(type(total))

<class 'float'>

In [63]:
a = "quick"
b =  "brown"
c = "fox jumps over the lazy dog"
print("The " +  a * 3 + " " +  b * 3 + " " + c)

The quickquickquick brownbrownbrown fox jumps over the lazy dog

In [64]:
if 6 > 5:
    print("Six is greater than five!")

Six is greater than five!

In [65]:
if 0 > 2:
     print("Zero is greater than two!")

In [66]:
if "banana" in "bananarama":
    print("I miss the 80s.")

I miss the 80s.

In [67]:
sister_age = 15
brother_age = 12
if sister_age > brother_age:
    print("sister is older")
else:
    print("brother is older")

sister is older

In [68]:
1 > 0 and 1 < 2

True

In [69]:
1 < 2 and "x" in "abc"

False

In [70]:
"a" in "hello" or "e" in "hello"

True

In [71]:
1 <= 0 or "a" not in "abc"

False

In [72]:
temperature = 32
if temperature > 60 and temperature < 75:
    print("It's nice and cozy in here!")
else:
    print("Too extreme for me.")

Too extreme for me.

In [73]:
hour = 11
if hour < 7 or hour > 23:
    print("Go away!")
    print("I'm sleeping!")
else:
    print("Welcome to the cheese shop!")
    print("Can I interest you in some choice gouda?")

Welcome to the cheese shop!
Can I interest you in some choice gouda?

In [76]:
sister_age = 11
brother_age = 12
if sister_age > brother_age:
    print("sister is older")
elif sister_age == brother_age:
    print("sister and brother are the same age")
else:
    print("brother is older")

brother is older

In [79]:
color = "pink"
if color == "green" or color == "red":
  print("Christmas color!")
elif color == "black" or color == "orange":
  print("Halloween color!")
elif color == "pink":
  print("Valentine's Day color!")

Valentine's Day color!

In [80]:
True

True

In [81]:
type(True)

bool

In [82]:
False

False

In [83]:
type(False)

bool

In [84]:
0 == 0

True

In [85]:
0 == 1

False

In [86]:
"a" != "a"

False

In [87]:
"a" != "A"

True

In [89]:
1 > 0

True

In [90]:
2 >= 3

False

In [91]:
-1 < 0

True

In [92]:
.5 <= 1

True

In [93]:
"H" in "Hello"

True

In [94]:
"X" in "Hello"

False

In [95]:
"a" not in "abcde"

False

In [96]:
"Perl" not in "Python Workshop"

True